*{
    font-family: 'Bebas Neue', cursive;
font-family: 'IBM Plex Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.contain{
    display:block;
    height: 530px;
    background-image: url("pex1.jpg");
    background-size: 850px 600px;
    background-repeat: repeat;
    margin-bottom: -390px;
    border: 2px solid black;
    margin-top: -10px;
}
.bold a{
    color: brown;
    text-decoration: none;
    background:wheat;
    padding: 30px;
    border: 5px solid black;
    border-radius: 5px;
    border-style: dashed; 
    text-align: center;
    display: flex;
    width: 150px;
}
.navigation a{
    color: goldenrod;
    text-decoration: none;
    
}
a:hover{
    color: red;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
    padding: 50px;
    margin-top: -130px;
    gap: 8px;
    height: 10px;
}
.hero-text{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pex3.jpg");
    background-size: 400px;
    height: 80px;
    margin-top: -20px;
    font-style: italic;
}
.bold{
    display: flex;
    justify-content: center;
}
.para{
    padding: 10px;
    margin-top: -30px;
    display: flex;
    text-align: center;
    font-size: larger;
    background-image: url("pex3.jpg");
    background-size: 400px;
    color: white;
}
.one{
    position: absolute;
    margin-left: 35.2%;   
}
.contain-video{
    display: flex;
    margin-top: 350px;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    background-image: url("solidblue.jpg");
    align-items: center;
    background-image: url("pex3.jpg");
    background-size: 400px;
    
}
.other{
    color: white;
    display: flex;
    margin-top: 390px;
    margin-bottom: -350px;
    justify-content: center;
    background-image: url("pex2.jpg");
    background-size: 400px;
    font-weight: 700;
    padding: 50px;
    font-size: larger;
}
.quote {
    display: flex;
    text-align: end;
    background-image: url("pex3.jpg");
    background-size: 400px;
    color: gold;
    margin-top: -10px;
    border: 2px solid black;
    font-style: italic;
}
.quote h4{
    margin: 20px;
}